/*
 * Open Sans
 */

// /* open-sans-300 - cyrillic_greek_latin_latin-ext_math_symbols */
// @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: "Open Sans";
//     font-style: normal;
//     font-weight: 300;
//     src: url("./assets/fonts/open-sans/open-sans-v43-cyrillic_greek_latin_latin-ext_math_symbols-300.woff2")
//         format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* open-sans-300italic - cyrillic_greek_latin_latin-ext_math_symbols */
// @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: "Open Sans";
//     font-style: italic;
//     font-weight: 300;
//     src: url("./assets/fonts/open-sans/open-sans-v43-cyrillic_greek_latin_latin-ext_math_symbols-300italic.woff2")
//         format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* open-sans-regular - cyrillic_greek_latin_latin-ext_math_symbols */
// @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: "Open Sans";
//     font-style: normal;
//     font-weight: 400;
//     src: url("./assets/fonts/open-sans/open-sans-v43-cyrillic_greek_latin_latin-ext_math_symbols-regular.woff2")
//         format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* open-sans-italic - cyrillic_greek_latin_latin-ext_math_symbols */
// @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: "Open Sans";
//     font-style: italic;
//     font-weight: 400;
//     src: url("./assets/fonts/open-sans/open-sans-v43-cyrillic_greek_latin_latin-ext_math_symbols-italic.woff2")
//         format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* open-sans-500 - cyrillic_greek_latin_latin-ext_math_symbols */
// @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: "Open Sans";
//     font-style: normal;
//     font-weight: 500;
//     src: url("./assets/fonts/open-sans/open-sans-v43-cyrillic_greek_latin_latin-ext_math_symbols-500.woff2")
//         format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* open-sans-500italic - cyrillic_greek_latin_latin-ext_math_symbols */
// @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: "Open Sans";
//     font-style: italic;
//     font-weight: 500;
//     src: url("./assets/fonts/open-sans/open-sans-v43-cyrillic_greek_latin_latin-ext_math_symbols-500italic.woff2")
//         format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* open-sans-600 - cyrillic_greek_latin_latin-ext_math_symbols */
// @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: "Open Sans";
//     font-style: normal;
//     font-weight: 600;
//     src: url("./assets/fonts/open-sans/open-sans-v43-cyrillic_greek_latin_latin-ext_math_symbols-600.woff2")
//         format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* open-sans-600italic - cyrillic_greek_latin_latin-ext_math_symbols */
// @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: "Open Sans";
//     font-style: italic;
//     font-weight: 600;
//     src: url("./assets/fonts/open-sans/open-sans-v43-cyrillic_greek_latin_latin-ext_math_symbols-600italic.woff2")
//         format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* open-sans-700 - cyrillic_greek_latin_latin-ext_math_symbols */
// @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: "Open Sans";
//     font-style: normal;
//     font-weight: 700;
//     src: url("./assets/fonts/open-sans/open-sans-v43-cyrillic_greek_latin_latin-ext_math_symbols-700.woff2")
//         format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* open-sans-700italic - cyrillic_greek_latin_latin-ext_math_symbols */
// @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: "Open Sans";
//     font-style: italic;
//     font-weight: 700;
//     src: url("./assets/fonts/open-sans/open-sans-v43-cyrillic_greek_latin_latin-ext_math_symbols-700italic.woff2")
//         format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* open-sans-800 - cyrillic_greek_latin_latin-ext_math_symbols */
// @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: "Open Sans";
//     font-style: normal;
//     font-weight: 800;
//     src: url("./assets/fonts/open-sans/open-sans-v43-cyrillic_greek_latin_latin-ext_math_symbols-800.woff2")
//         format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

// /* open-sans-800italic - cyrillic_greek_latin_latin-ext_math_symbols */
// @font-face {
//     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//     font-family: "Open Sans";
//     font-style: italic;
//     font-weight: 800;
//     src: url("./assets/fonts/open-sans/open-sans-v43-cyrillic_greek_latin_latin-ext_math_symbols-800italic.woff2")
//         format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

/**
 * Consolas
 */

@font-face {
    font-family: "Consolas";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/consolas/Consolas.woff2") format("woff2");
}

@font-face {
    font-family: "Consolas";
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url("./assets/fonts/consolas/Consolas-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Consolas";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/consolas/CConsolas-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Consolas";
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: url("./assets/fonts/consolas/Consolas-Bold-Italic.woff2")
        format("woff2");
}

/**
 * Font Awesome
 */

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    src: url("./assets/fonts/font-awesome/fontawesome-webfont.woff2?v=4.7.0")
        format("woff2");
}
