/* Core CSS variables don't work, so use SCSS variables instead */

/*
:root {
    --mq-small: 450px;
    --mq-medium: 800px;
}
*/

$mq-small: 450px !default;
$mq-medium: 800px !default;
$mq-large: 1040px !default;
