/* hides full width elements in smaller viewports */

@use "../1-global-variables/media-queries" as mq;

@media screen and (max-width: #{mq.$mq-large}) {
    .header-area-full,
    .language-search-full,
    .breadcrumb-full,
    .nav-area-full,
    .main-area-full,
    .moddate-full,
    .sidebar-area-full,
    .footer-area-full {
        display: none;
    }
}
