@use "../1-global-variables/media-queries" as mq;

aside {
    display: grid;
    gap: 1rem 1rem;
    padding: 1rem;
}

aside section {
    box-sizing: border-box;
    // grid-column: span 2;
    width: 100%;
}

@media only screen and (min-width: #{mq.$mq-small}) {
    aside {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: #{mq.$mq-medium}) {
    aside {
        grid-template-columns: repeat(3, 1fr);
    }
}
