.moddate-full {
    background-color: var(--menu-bg);
}

.moddate-area {
    background-color: var(--menu-bg);
    width: 100%;
    padding: 1rem;
    grid-area: moddate;
}

.moddate-content {
    margin: 0 auto;
    max-width: var(--text-max-width);
    font-weight: var(--font-weight-sub);
    font-size: var(--font-size-reduced);
}

// this left a white hole right of the mod date on desktop
// .page-template-host-genus-determination .moddate-area,
// .page-template-host-species-determination .moddate-area {
//     max-width: calc(var(--container-max-width) - 2rem);
// }
