.widget {
    background-color: var(--widget-bg);
}

.widget select {
    max-width: 100%;
}

.widget ol,
.widget ul {
    margin-left: 0;
    padding-left: 1rem;
}

.widget-title {
    margin: 0;
}


/*  Social Media links with icon */

section.widget a[class^="fngl-sm-"] {
    background-position: left;
    background-repeat: no-repeat;
    display: block;
    margin: .5em 0;
    padding: 14px 0 14px 60px;
    text-decoration: none;
}

section.widget a[class^="fngl-sm-"]:hover {
    text-decoration: underline;
}

.fngl-sm-email {
    background-image: url(images/social-media/mail.svg);
}

.fngl-sm-facebook {
    background-image: url(images/social-media/facebook.svg);
}

.fngl-sm-instagram {
    background-image: url(images/social-media/instagram.svg);
}

.fngl-sm-linkedin {
    background-image: url(images/social-media/linkedin.svg);
}

.fngl-sm-rss {
    background-image: url(images/social-media/rss.svg);
}

.fngl-sm-tel {
    background-image: url(images/social-media/phone.svg);
}

.fngl-sm-twitter {
    background-image: url(images/social-media/twitter.svg);
}

.fngl-sm-youtube {
    background-image: url(images/social-media/youtube.svg);
}