/*
 * This CSS is used for the Determination table on: 
 * - host-genus-determination.php
 * - host-species-determination.php
 *
 * Warning: some CSS is also used on:
 * - errata-table
 *
 */

/* determination tables */

.page-template-host-genus-determination h1,
.page-template-host-species-determination h1 {
    max-width: var(--text-max-width);
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}

.page-template-errata-table,
.page-template-host-genus-determination,
.page-template-host-species-determination {
    .entry-content,
    main article {
        max-width: var(--container-max-width);
    }
    main article {
        font-size: var(--font-size-reduced);
    }
    table.dataTable {
        thead th {
            border-bottom: none !important;
            font-size: var(--font-size-menu);
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: var(--font-weight-sub);
            text-align: left;
            padding: 10px 8px !important;
            &:hover {
                color: var(--head-sort-color);
            }
        }
        &.no-footer {
            border-bottom: 1px var(--row-dark-line-color) solid;
        }
    }
    th {
        background: var(--row-head-color);
        border-right: 1px solid var(--row-light-line-color);
        padding-right: 1.5em;
        &:last-of-type {
            border-right: none;
        }
    }
    tr:nth-of-type(2n) {
        background-color: var(--row-even-color);
    }
    td {
        border-right: 1px solid var(--row-dark-line-color);
        border-top: none;
    }
    td:first-of-type {
        border-left: 1px solid var(--row-dark-line-color);
    }
}

/* implementatie van DataTables.js */

#DeterminationTable_wrapper {
    margin: 1rem 0;
}

/* Datatables since 2.0.2 filter field */

.dt-container .dt-layout-cell {
    padding: 0 !important; //override of DataTables CSS
}

.dt-search {
    background: var(--row-head-color);
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 0.5em 1em;
    label {
        font-weight: var(--font-weight-sub);
    }

    input[type="search"] {
        width: 200px;
        font-size: 0.9em !important;
        border-radius: 0 !important;
        background-color: var(--general-bg) !important;
    }
}

/* cursieve parasietnamen */

#DeterminationTable td > a {
    font-style: italic;
}

/* Errata Table column width */

#ErrataTable {
    th:nth-of-type(1) {
        width: 10%;
    }
    th:nth-of-type(2) {
        width: 66%;
    }

    th:nth-of-type(3) {
        width: 12%;
    }

    th:nth-of-type(4) {
        width: 12%;
    }
}

/* responsive tabellen */

@media screen and (max-width: $mq-medium) {
    #ErrataTable_filter,
    #DeterminationTable_filter {
        margin: 0 !important;
        text-align: left !important;
        padding: 0.25rem 0 0.25rem 9px;
        margin-right: 1px;
    }
    #ErrataTable *,
    #DeterminationTable * {
        display: block;
    }
    #ErrataTable th,
    #DeterminationTable th {
        border-right: none;
    }
    #ErrataTable tr,
    #DeterminationTable tr {
        border-bottom: #333 solid 2px;
    }
    #ErrataTable td,
    #DeterminationTable td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding: 2px 0 2px 120px;
        min-height: 24px;
    }
    #ErrataTable td a,
    #DeterminationTable td a {
        border-bottom: none;
        text-decoration: underline;
    }
    #ErrataTable td:before,
    #DeterminationTable td:before {
        position: absolute;
        top: 8px;
        left: 3px;
        width: 10%;
        padding-right: 10px;
        white-space: nowrap;
        font-size: 0.9em;
        font-weight: 300;
        line-height: 0.9;
    }
    #ErrataTable td:nth-of-type(1):before {
        content: "page";
    }
    #ErrataTable td:nth-of-type(2):before {
        content: "erratum";
    }
    #ErrataTable td:nth-of-type(3):before {
        content: "note";
    }
    #ErrataTable td:nth-of-type(4):before {
        content: "date";
    }
    html[lang="en-US"] #DeterminationTable td:nth-of-type(1):before {
        content: "organ";
    }
    html[lang="en-US"] #DeterminationTable td:nth-of-type(2):before {
        content: "parasitic mode";
    }
    html[lang="en-US"] #DeterminationTable td:nth-of-type(3):before {
        content: "stage";
    }
    html[lang="en-US"] #DeterminationTable td:nth-of-type(4):before {
        content: "note";
    }
    html[lang="en-US"] #DeterminationTable td:nth-of-type(5):before {
        content: "tax. group";
    }
    html[lang="en-US"] #DeterminationTable td:nth-of-type(6):before {
        content: "parasite";
    }
    html[lang="nl"] #DeterminationTable td:nth-of-type(1):before {
        content: "orgaan";
    }
    html[lang="nl"] #DeterminationTable td:nth-of-type(2):before {
        content: "parasiteerwijze";
    }
    html[lang="nl"] #DeterminationTable td:nth-of-type(3):before {
        content: "stadium";
    }
    html[lang="nl"] #DeterminationTable td:nth-of-type(4):before {
        content: "opmerking";
    }
    html[lang="nl"] #DeterminationTable td:nth-of-type(5):before {
        content: "tax. groep";
    }
    html[lang="nl"] #DeterminationTable td:nth-of-type(6):before {
        content: "parasiet";
    }
}
