/*
 * This CSS is used for the Determination table on: 
 * - host-genus-determination.php
 * - host-species-determination.php
 *
 * Warning: some CSS is also used on:
 * - errata-table
 *
 */

/* determination tables */

.parasite_with_image {
    --camera-icon: url('data:image/svg+xml;utf8,<svg viewBox="13 0 370 320" xmlns="http://www.w3.org/2000/svg"><circle cx="201" cy="170.964" r="75" style="fill:none;stroke:rgb(51,51,51);stroke-width:24px;"/><path d="M279.127,63.71c6.661,8.389 16.787,13.28 27.5,13.28l17.068,-0c11.521,-0 22.571,4.576 30.717,12.723c8.147,8.146 12.723,19.196 12.723,30.717l0,131.19c0,11.521 -4.576,22.57 -12.723,30.716c-8.146,8.147 -19.196,12.724 -30.717,12.724l-254.2,-0c-11.521,-0 -22.57,-4.577 -30.717,-12.724c-8.146,-8.146 -12.723,-19.195 -12.723,-30.716l-0,-131.19c-0,-11.521 4.577,-22.571 12.723,-30.717c8.147,-8.147 19.196,-12.723 30.717,-12.723l17.486,-0c10.474,-0 20.4,-4.678 27.068,-12.755c9.373,-11.354 21.61,-26.178 21.61,-26.178c8.898,-10.779 22.145,-17.021 36.123,-17.021l50.845,-0c14.29,-0 27.798,6.523 36.684,17.715c-0,-0 11.049,13.916 19.816,24.959Z" style="fill:none;stroke:rgb(51,51,51);stroke-width:24px;" /></svg>');
    content: "";
    display: inline-block;
    background: no-repeat left var(--camera-icon);
    background-size: contain;
    height: 20px;
    width: 20px;
    margin-top: 4px;
}

.no-table-data {
    border: 1px #999 solid;
    padding: 1rem;
    max-width: var(--text-max-width);
    margin: 2rem auto;
    font-style: italic;
}

.determination-table {
    h2 {
        display: none;
    }
}

.page-template-host-genus-determination,
.page-template-host-species-determination {
    overflow-x: hidden;
    h1 {
        max-width: var(--text-max-width);
        margin-left: auto;
        margin-right: auto;
        font-style: italic;
    }
}
.page-template-errata-table,
.page-template-host-genus-determination,
.page-template-host-species-determination {
    .entry-content,
    main article {
        max-width: var(--container-max-width);
    }
    main article {
        font-size: var(--font-size-reduced);
    }
    table.dataTable {
        thead th {
            border-bottom: none !important;
            font-size: var(--font-size-menu);
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: var(--font-weight-sub);
            text-align: left;
            padding: 10px 6px !important;
            &:hover {
                color: var(--head-sort-color);
            }
        }
        &.no-footer {
            border-bottom: 1px var(--row-dark-line-color) solid;
        }
    }
    th {
        background: var(--row-head-color);
        border-right: 1px solid var(--row-light-line-color);
        padding-right: 1.5em;
        &:last-of-type {
            border-right: none;
        }
    }
    tr:nth-of-type(2n) {
        background-color: var(--row-even-color);
    }
    td {
        border-right: 1px solid var(--row-dark-line-color);
        border-top: none;
        padding: 10px 6px !important; //override of DataTables CSS
    }
    td:first-of-type {
        border-left: 1px solid var(--row-dark-line-color);
    }
}

/* implementatie van DataTables.js */

#DeterminationTable_wrapper {
    margin: 1rem 0;
    .dt-layout-row:first-child {
        position: sticky; // makes filter bar sticky
        top: 0;
        z-index: 100;
    }
}

.dt-container .dt-layout-row {
    margin: 0 !important; //override of DataTables CSS
}

.dt-layout-end {
    padding: 0 !important; //override of DataTables CSS
    width: 100%;
    background: var(--row-head-color);
    border-bottom: 1px solid #eee;
}
.dt-layout-table {
    overflow-x: scroll; // TODO: this give a gap above the table
}

.dt-search {
    background: var(--row-head-color);
    padding: 0.5em 1em;
    margin: 0 !important; //override of DataTables CSS
    margin-right: auto !important; //override of DataTables CSS
    text-align: left !important; //override of DataTables CSS
    label {
        font-weight: var(--font-weight-sub);
    }
    input[type="search"] {
        width: 200px;
        font-size: 0.9em !important;
        border-radius: 0 !important;
        background-color: var(--general-bg) !important;
    }
}

table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order,
table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order,
table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order,
table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order,
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order,
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order {
    right: 2px !important; //override of DataTables CSS
}

/** 
 * new responsive solution 2025-05-12 
 */

/* disable horizontal scrolling of non-table content */

// header {
//     position: sticky;
//     left: 0;
// }

#DeterminationTable {
    --col-1-width: 100px;
    --col-2-width: 100px;
    z-index: 1;
    thead {
        position: sticky;
        // top: 50px;
        /* Don't forget this, required for the stickiness */
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
        z-index: 3;
    }

    thead th:nth-child(1),
    thead th:nth-child(2) {
        background-color: green;
        z-index: 4;
    }

    tbody td:nth-child(1),
    tbody td:nth-child(2) {
        z-index: 2;
        background-color: pink;
    }

    thead th:nth-child(1),
    tbody td:nth-child(1) {
        position: sticky;
        left: 0;
        min-width: var(--col-1-width);
    }

    thead th:nth-child(2),
    tbody td:nth-child(2) {
        position: sticky;
        left: var(--col-1-width);
        min-width: var(--col-2-width);
    }
}
/* cursieve parasietnamen */

#DeterminationTable td > a {
    font-style: italic;
}

/* Errata Table column width */

#ErrataTable {
    th:nth-of-type(1) {
        width: 10%;
    }
    th:nth-of-type(2) {
        width: 66%;
    }

    th:nth-of-type(3) {
        width: 12%;
    }

    th:nth-of-type(4) {
        width: 12%;
    }
}
