.moddate-full {
    background-color: var(--menu-bg);
    width: 100%;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 1rem;
}

.moddate-area {
    max-width: var(--text-max-width);
    margin: 0 auto;
    font-weight: var(--font-weight-sub);
    font-size: var(--font-size-reduced);
}

.page-template-host-genus-determination .moddate-area,
.page-template-host-species-determination .moddate-area {
    max-width: calc(var(--container-max-width) - 2rem);
}