/*
 * This CSS is used for the Names block used on 
 * - host-genus-determination.php
 * - host-species-determination.php
 *
 * the older name fields in the post_content area are made invisible in _hosts.scss
 *
 * todo: the manually added name should be removed
 */

.names-block {
    // background-color: #ffffdd;
    max-width: var(--text-max-width);
    margin: 1rem auto;

    h2 {
        display: none;
    }
    h3 {
        // display: inline;
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-menu);
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 0;
        // &::after {
        //     content: ": ";
        // }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        &::after {
            content: "\a";
            white-space: pre;
        }
        // line-height: var(--line-height-paragraph);
        font-weight: var(--font-weight-light);
        font-size: var(--font-size-big);
    }
    li {
        display: inline-block;
        &:not(:last-child)::after {
            content: ", ";
        }
        margin-right: 0.25rem;
    }

    .synonym {
        font-style: italic;
        font-size: var(--font-size-medium);
    }

    p.name_note {
        display: inline;
        font-size: var(--font-size-normal);
    }
}
