/* located on 
 * - errata-table.php
 * - host-genus.php
 * - host-genus-determination.php
 * - host-parent.php 
 * - host-species-determination.php
 */


/* the classes synonymous-name and vernacular-name are also present in the parasites */

h2.synonymous-name,
h2.vernacular-name {
    font-weight: var(--font-weight-light);
    max-width: var(--text-max-width);
    margin: 0 auto 1.6875rem;
}

h2.synonymous-name {
    font-size: var(--font-size-medium);
}

.page-template-host-species-determination h2.vernacular-name {
    margin-top: -1.6875rem;
}


/* groups of questions in dichotomous table */

.couplet {
    margin-bottom: 2em;
}

.couplet p {
    padding: 0.4em 0.8em;
    background-color: var(--dichotomous-table-color);
    margin: 0.2em auto;
}

// .page-template-host-parent .entry-content h1,
.page-template-host-genus .entry-title {
    display: none;
}

.page-template-host-genus .entry-content h1 {
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-big);
    line-height: var(--line-height-title);
}

.page-template-host-genus .entry-content h1 em {
    font-weight: var(--font-weight-bold);
    font-style: italic;
    font-size: var(--font-size-title);
    display: block; // forces line break for next part
}

@media screen and (min-width: $mq-medium) {
    .page-template-host-genus .entry-content h1 {
        font-size: var(--font-size-big-desktop);
    }
    .page-template-host-genus .entry-content h1 em {
        font-size: var(--font-size-title-desktop);
    }
}


/* determination tables */

.page-template-host-genus-determination h1,
.page-template-host-species-determination h1 {
    max-width: var( --text-max-width);
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}

.page-template-errata-table main article,
.page-template-host-genus-determination main article,
.page-template-host-species-determination main article {
    max-width: var( --container-max-width);
    font-size: var(--font-size-reduced);
}

.page-template-errata-table tr:nth-of-type(2n),
.page-template-host-genus-determination tr:nth-of-type(2n),
.page-template-host-species-determination tr:nth-of-type(2n) {
    background-color: var(--row-even-color);
}

.page-template-errata-table td,
.page-template-host-genus-determination td,
.page-template-host-species-determination td {
    border-right: 1px solid var(--row-dark-line-color);
    border-top: none;
}

.page-template-errata-table td:first-of-type,
.page-template-host-genus-determination td:first-of-type,
.page-template-host-species-determination td:first-of-type {
    border-left: 1px solid var(--row-dark-line-color);
}

h2.table-all-species a {
    border-bottom: none;
    text-decoration: none;
}


/* implementatie van DataTables.js */

.page-template-errata-table th,
.page-template-host-genus-determination th,
.page-template-host-species-determination th {
    background: var(--row-head-color);
    border-right: 1px solid var(--row-light-line-color);
    padding-right: 1.5em;
}

.page-template-errata-table th:last-of-type,
.page-template-host-genus-determination th:last-of-type,
.page-template-host-species-determination th:last-of-type {
    border-right: none;
}

table.dataTable thead th {
    border-bottom: none !important;
    font-size: var(--font-size-menu);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: var(--font-weight-sub);
    text-align: left;
    padding: 10px 8px !important;
}

table.dataTable thead th:hover {
    color: var(--head-sort-color);
}

table.dataTable.no-footer {
    border-bottom: 1px var(--row-dark-line-color) solid !important;
}

.dataTables_filter {
    background: var(--row-head-color);
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: .5em 1em;
}

.dataTables_filter label {
    font-weight: var(--font-weight-sub);
}

.dataTables_filter input[type="search"] {
    width: inherit;
    font-size: .9em !important;
    border-radius: 0 !important;
    // border: 1px solid var(--p-soft-color) !important;
    background-color: var(--general-bg) !important;
}


/* Errata Table column width */

#ErrataTable th:nth-of-type(1) {
    width: 10%;
}

#ErrataTable th:nth-of-type(2) {
    width: 66%;
}

#ErrataTable th:nth-of-type(3) {
    width: 12%;
}

#ErrataTable th:nth-of-type(4) {
    width: 12%;
}


/* responsive tabellen */

@media screen and (max-width: $mq-medium) {
    #ErrataTable_filter,
    #DeterminationTable_filter {
        margin: 0 !important;
        text-align: left !important;
        padding: .25rem 0 .25rem 9px;
        margin-right: 1px;
    }
    #ErrataTable *,
    #DeterminationTable * {
        display: block;
    }
    #ErrataTable th,
    #DeterminationTable th {
        border-right: none;
    }
    #ErrataTable tr,
    #DeterminationTable tr {
        border-bottom: #333 solid 2px;
    }
    #ErrataTable td,
    #DeterminationTable td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding: 2px 0 2px 120px;
        min-height: 24px;
    }
    #ErrataTable td a,
    #DeterminationTable td a {
        border-bottom: none;
        text-decoration: underline;
    }
    #ErrataTable td:before,
    #DeterminationTable td:before {
        position: absolute;
        top: 8px;
        left: 3px;
        width: 10%;
        padding-right: 10px;
        white-space: nowrap;
        font-size: .9em;
        font-weight: 300;
        line-height: .9;
    }
    #ErrataTable td:nth-of-type(1):before {
        content: "page"
    }
    #ErrataTable td:nth-of-type(2):before {
        content: "erratum"
    }
    #ErrataTable td:nth-of-type(3):before {
        content: "note"
    }
    #ErrataTable td:nth-of-type(4):before {
        content: "date"
    }
    html[lang="en-US"] #DeterminationTable td:nth-of-type(1):before {
        content: "organ"
    }
    html[lang="en-US"] #DeterminationTable td:nth-of-type(2):before {
        content: "parasitic mode"
    }
    html[lang="en-US"] #DeterminationTable td:nth-of-type(3):before {
        content: "stage"
    }
    html[lang="en-US"] #DeterminationTable td:nth-of-type(4):before {
        content: "note"
    }
    html[lang="en-US"] #DeterminationTable td:nth-of-type(5):before {
        content: "tax. group"
    }
    html[lang="en-US"] #DeterminationTable td:nth-of-type(6):before {
        content: "parasite"
    }
    html[lang="nl"] #DeterminationTable td:nth-of-type(1):before {
        content: "orgaan"
    }
    html[lang="nl"] #DeterminationTable td:nth-of-type(2):before {
        content: "parasiteerwijze"
    }
    html[lang="nl"] #DeterminationTable td:nth-of-type(3):before {
        content: "stadium"
    }
    html[lang="nl"] #DeterminationTable td:nth-of-type(4):before {
        content: "opmerking"
    }
    html[lang="nl"] #DeterminationTable td:nth-of-type(5):before {
        content: "tax. groep"
    }
    html[lang="nl"] #DeterminationTable td:nth-of-type(6):before {
        content: "parasiet"
    }
}


/* legend of table */

.table-legend {
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
    background-color: var(--row-even-color);
    padding: 0.4em 1em 0em 1em;
    font-size: var(--font-size-reduced);
    margin-bottom: 2rem;
}

.table-legend h3 {
    font-weight: var(--font-weight-heavy);
    font-size: var(--font-size-reduced);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.table-legend strong {
    font-weight: var(--font-weight-bold);
}

.table-legend-column {
    margin-bottom: -.5em;
}


/* cursieve parasietnamen */

#DeterminationTable td>a {
    font-style: italic;
}

@media screen and (min-width: $mq-medium) {
    .table-legend-column {
        width: 31.3%;
        float: left;
        margin-right: 3%;
    }
    .table-legend-column:nth-of-type(3) {
        margin-right: 0;
    }
}