/* located on 
 * - errata-table.php
 * - host-genus.php
 * - host-genus-determination.php
 * - host-parent.php 
 * - host-species-determination.php
 *
 * CSS for the determination table in _determination-table.scss
 *
 */

@use "../../1-global-variables/media-queries" as mq;

.page-template-host-genus {
    .entry-title {
        display: none;
    }
    .entry-content h1 {
        font-weight: var(--font-weight-light);
        font-size: var(--font-size-big);
        line-height: var(--line-height-title);
    }
    h1 em {
        font-weight: var(--font-weight-bold);
        font-style: italic;
        font-size: var(--font-size-title);
        display: block; // forces line break for next part
    }
}

@media screen and (min-width: #{mq.$mq-medium}) {
    .page-template-host-genus .entry-content {
        h1 {
            font-size: var(--font-size-big-desktop);
        }
        h1 em {
            font-size: var(--font-size-title-desktop);
        }
    }
}

/* this kind of vernaculars and synonyms are legacy and are obsolete  */

.page-template-host-genus-determination,
.page-template-host-species-determination {
    h2.synonymous-name,
    h2.vernacular-name {
        display: none;
    }
}

/* groups of questions in dichotomous table */

.couplet {
    margin-bottom: 2em;
}

.couplet p {
    padding: 0.4em 0.8em;
    background-color: var(--dichotomous-table-color);
    margin: 0.2em auto;
}
