/* headings with scientific and author name in one tag */
/* h1 em is the actual title */

@use "../../1-global-variables/media-queries" as mq;

.page-template-parasite-species {
    .entry-content {
        h1 {
            font-weight: var(--font-weight-light);
            font-size: var(--font-size-big);
            line-height: var(--line-height-title);
        }
        h1 em {
            font-weight: var(--font-weight-bold);
            font-style: italic;
            font-size: var(--font-size-title);
            display: block; // forces line break for next part
        }
    }
}

@media screen and (min-width: #{mq.$mq-medium}) {
    .page-template-parasite-species {
        .entry-content {
            h1 {
                font-size: var(--font-size-big-desktop);
            }
            h1 em {
                font-size: var(--font-size-title-desktop);
            }
        }
    }
}

.page-template-parasite-species,
.page-template-page-parent {
    .entry-title {
        display: none;
    }
}

.page-template-parasite-parent,
.page-template-parasite-stadia {
    .entry-content h1 {
        display: none;
    }
}

/* vernaculars and synonyms */

.page-template-parasite-species,
.page-template-parasite-parent,
.page-template-parasite-stadia {
    h2.vernacular-name,
    h2.vernacular-name {
        font-weight: var(--font-weight-light);
        max-width: var(--text-max-width);
        margin: 0 auto 1.6875rem;
    }
    h2.synonymous-name {
        font-size: var(--font-size-medium);
    }
}

/* sub headings om parasite pages, mainly h3-level */
.head-references,
.head-hostplant,
.head-phenology,
.head-distribution,
.head-larva,
.head-pupa,
.head-remark,
.head-synonym,
.head-mine,
.head-gall,
.topic {
    font-size: var(--font-size-reduced);
    font-weight: var(--font-weight-heavy);
    text-transform: uppercase;
    margin: 2rem 0 0 0;
    letter-spacing: 1px;
}

p.references {
    font-size: var(--font-size-reduced);
    font-weight: var(--font-weight-light);
}

.latinnames {
    font-style: italic;
}
